<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.shop.mapper.ProductMapper">

	<select id="selectProductList" resultType="com.example.demo.shop.model.Product">
		SELECT *
		FROM product
		WHERE 1=1
		<if test="categoryId != null and categoryId != ''">
			AND categoryId = #{categoryId}
		</if>
		<if test="name != null and name != ''">
			AND name like '%#{name}%'
		</if>
	</select>
</mapper>